config/ranger/plugins/*
gitconfig
config/rtodo
config/mpv/watch_later/*
**/__pycache__/
config/GIMP/
config/aichat/
config/dconf/
config/discord/
config/go/telemetry/
config/gtk-2.0/
config/mimeapps.list
config/pavucontrol.ini
config/pulse/
config/systemd/user/default.target.wants/
config/systemd/user/sockets.target.wants/
config/wallpaper
config/user-dirs.dirs
config/user-dirs.locale
config/LanguageTool/
config/Signal/
config/libreoffice/
config/termusic/
config/chromium/
