/* *,div,pre,textarea,body,input,td,tr,p { */
    /* background-color: #202020 !important; */
    /* background-image: none !important; */
    /* color: #bbbbbb !important; */
/* } */
/* h1,h2,h3,h4 { */
    /* background-color: #202020 !important; */
    /* color: #b8ddea !important; */
/* } */
/* img { */
    /* opacity: .5; */
/* } */
/* img:hover { */
    /* opacity: 1; */
/* } */
